/* Use below links incase, local font doesn't work */

/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/kallimata');*/

/* Default settings */

* {
  margin: 0;
  padding: 0;
  font-style: normal;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/* box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-inter);
  text-rendering: optimizeSpeed;
}



/* Custom variables */

:root {
  /* Font color */
  --font-color-white: #FFF;
  --font-color-dark-gray: #303030;
  --font-color-light-gray: #C4C4C4;
  --font-color-black: #000;

  /* Font size */
  --font-size-tiny: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-big: 1.125rem;
  --font-size-larg: 2.25rem;
  --font-size-huge: 5.9375rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Font family */
  --font-family-inter: inter;
  --font-family-kallimata: kallimata;

  /* Section background color */
  --bg-color-white: #FFF;
  --bg-color-white-smoke: #F6F6F6;

}

/* Local fonts */

@font-face {
  font-family: inter;
  src: url(../font/static/Inter-Regular.ttf);
  src: url('../font/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: kallimata;
  src: url(../font/kallimata_script/KallimataScript.ttf);
  src: url('../font/kallimata_script/KallimataScript.ttf') format('truetype');
}

/* Reusable property */

.btn {
  display: inline-flex;
  background-color: transparent;
  border: none;
  border-radius: 0.7rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  margin: 0.8rem;
}

.btn-primary {
  color: #FFF;
  border: 1px solid #FFF;
}

.btn-secondary {
  color: #000;
  border: 1px solid #000;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3;
  color: #FFA500;
  border-color: #004094;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #6c757d;
  color: #FFF;
  border-color: #545b62;
}

/* Inline Icon with text */
.inline-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 150px;
}
.inline-icon img {
  max-width: 40%;
  max-height: 40%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: white;
}

h1 {
  font-weight: 800;
  padding: 1.313rem;
  font-size: 3.5rem;
}

h2 {
  padding: 1.313rem;
  font-size: 2.25rem;
  font-weight: 700;
}

p {
  line-break: auto;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.313rem;
  line-height: 125.023%;
}


/* reusable components */

.row-container {
  position: relative;
  display: flex;
  justify-content: center;

}

.column-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.inline-flex {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.heading-with-logo {
  font-size: 1rem;
  line-height: 1.55;
  letter-spacing: 0.5em;
  font-weight: 700;
  text-transform: uppercase;
  gap: 0.9rem;
  padding-bottom: 1rem;
}

.heading-with-logo img {
  width: 0.889rem;
  height: auto;
}


/* reusable sections */

/* Live stream section */
.livestream-service {
  display: flex;
  max-width: 74.75rem;
  min-height: 33.9375rem;
  flex-shrink: 0;
  border-radius: 3.125rem;
  background-image: linear-gradient(rgba(48, 48, 48, 0.8), rgba(48, 48, 48, 0.8)), url(../images/image\ 7.png);
  mix-blend-mode: multiply;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3rem auto;
  padding: 2.7rem;
}



.livestream-service h2 {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 155.023%;
}

.livestream-service p {
  color: #FFF;
  font-family: Inter;
  text-align: center;
  font-size: 1.125rem;
  padding: 0 .7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 155.023%;
  text-transform: uppercase;

}

/* Ways to serve others */
.ways-to-serve-others {
  display: flex;
  max-width: 74.75rem;
  min-height: 33.9375rem;
  flex-shrink: 0;
  border-radius: 3.125rem;
  background-image: linear-gradient(rgba(48, 48, 48, 0.8), rgba(48, 48, 48, 0.8)), url(../images/image\ 7.png);
  mix-blend-mode: multiply;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3rem auto;
  padding: 2.7rem;
}

.ways-to-serve-others .btn {
  display: inline-flex;
  padding: 0.75rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
  border: 1px solid #FFF;
}

.ways-to-serve-others h2 {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 155.023%;
}

.ways-to-serve-others p {
  color: #FFF;
  font-family: Inter;
  text-align: center;
  font-size: 1.125rem;
  padding: 0 .7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 155.023%;
  text-transform: uppercase;
}

.ways-to-serve-others p a {
  text-decoration: underline;
}

/* =============================================================================
   PAGE: Home
   Styles specific to the Home page.
   ============================================================================= */

/* ---------------------------------------------------------------------
   SECTION: Header
   PAGE: Home
   --------------------------------------------------------------------- */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh);
  min-height: calc(100vh);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/image1@2x.png') no-repeat center/cover;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 10%;
  position: relative;
}
.nav-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-links ul li {
  padding: 0.5rem 0.75rem;
}
nav ul li {  
  display: inline-block;
  padding: 0.5rem 0.75rem;
}

nav ul li img {
  width: 1.375rem;
  height: 1rem;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

.nav-links ul li a:hover {
  color: #f44336;
}

.logo img {
  width: 7.313rem;
  height: auto;
  transition: transform 0.6s ease-in-out;
}

.logo:hover img {
  transform: scale(1.2);
}

/* Language switcher*/
.lang-switcher__select {
  width: 3.125rem;
  justify-content: center;
  color: #fff;
  font-size: .80rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border-radius: 0.1875rem;
}

/* svg file, live stream and social medial */
nav ul li img {
  cursor: pointer;
}

.line {
  cursor: default;
  color: white;
}


/* Text and button in the header section */
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100vh - 1%);
  color: #FFF;
  text-align: center;
  padding: 2rem;
}



/* Hamburger menu styles */
.menu-toggle {
  display: none; /* Hide the checkbox */
}

.menu-icon {
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: 2.5rem;
  font-size: 30px;
  display: none; /* Initially hidden */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99; /* Ensure it's clickable above other elements */
}

.hamburger, .close {
  display: block;
  color: white;
}

/* Hide the close icon by default */
.close {
  display: none;
}



/* ---------------------------------------------------------------------
   SECTION: Welcome to Heart Prague
   PAGE: Home
   --------------------------------------------------------------------- */
   .welcome-hp {
    display: flex;
    flex-basis: 50%;
    position: relative;
    height: auto;
    justify-content: center;
    align-items: center;
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 3.125rem 4.25rem;
  }
  
  .welcome-hp-text {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 155.023%;
  }
  
  .welcome-hp h3 {
    text-align: center;
    font-family: var(--font-family-kallimata);
    font-size: clamp(2.5rem, 5vw + 1rem, 5.938rem); 
    font-weight: 400;
    line-height: 188.023%;
    /* 147.272px */
  }

/* ---------------------------------------------------------------------
   SECTION: Start your journey here
   PAGE: Home
   --------------------------------------------------------------------- */
.your-journey {
  background-color: #F6F6F6;
  padding: 3.125rem 4.25rem;

}

.image-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: left;
  padding: 1rem;
  gap: 0.7rem;
}


.your-journey-left {

  display: flex;
  flex: 37%;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.your-journey-left img {

  border-radius: 0.625rem;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}



.your-journey-right {
  display: flex;
  flex: 40%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

}

.your-journey-right img {

  border-radius: 0.625rem;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  object-fit: cover;
  object-position: center;

}


/* ---------------------------------------------------------------------
   SECTION: Upcomg event
   PAGE: Home
   --------------------------------------------------------------------- */
.upcoming-events {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 3.125rem 4.25rem;
  align-items: center;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}

.card-container .event {

  max-width: 300px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  cursor: pointer;
}

.card-container .event .card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.card-container .event .card-image img:hover {
  opacity: .7;
}

.card-container .event .card-contents {
  padding: 0 20px;

}

.card-container .event .card-contents .date {
  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

.card-container .event .card-contents .title {
  color: #303030;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  text-decoration: none;
  text-transform: capitalize;
}

.card-container .event .card-contents p {
  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

.card-container .event .card-contents .link {
  color: #303030;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

/* ---------------------------------------------------------------------
   SECTION: Footer (Connect with heart prague)
   PAGE: ALL
   --------------------------------------------------------------------- */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 3.125rem 4.25rem;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/image-2@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-middle {
  display: inline-flex;
  align-items: center;
  width: 80%;
  padding: 1rem 0;
}


.footer-middle .address {
  justify-content: flex-start;
  flex: 20%;
}


.footer-middle .social-icons {
  display: inline-flex;
  justify-content: space-around;
  flex: 30%;
}

.footer-middle .social-icons img {
  max-width: 10%;
  min-width: 5%;
  height: auto;
}

.footer-middle .footer-links {
  justify-content: flex-end;
  flex: 20%;
}

.footer-middle div p {
  color: #FFF;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

.footer-links ul li a {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  text-decoration-line: underline;
}

footer hr {
  display: inline-flex;
  justify-content: center;
  width: 50%;
}

.footer-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu ul li {
  display: inline-flex;
  padding: 0.5rem 0.75rem;
}

.footer-menu ul li a {

  text-align: right;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 155.023%;
}

footer .footer-end {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.footer-end img {
  max-width: 50%;
  min-width: 5%;
  height: auto;
}



/* =============================================================================
   PAGE: I am new
   Styles specific to the I am new page.
   ============================================================================= */

.Im-new-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/I-am-new-cover.png);
  background-position: 10% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

.page-title h2 {
  color: #FFF;
  margin-top: 100px;
  padding-bottom: calc(50vh - 50%);
  font-family: Kallimata;
  font-size: 6.5rem;
  font-style: normal;
  font-weight: 400;
}

/* ---------------------------------------------------------------------
   SECTION: Sundays at heart prague
   PAGE: I am new
   --------------------------------------------------------------------- */
.sundays-at-hp {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
}

.sundays-service {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 100px;
  margin: auto;
}

.sundays-service .timeline h4 {
  color: #E2516D;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
}

.timeline {
  border-top: 2px dashed;
  border-color: blue !important;
  padding: 1rem;
}

.sundays-service .timeline:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}

.sundays-service .timeline:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}

.sundays-service .timeline:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.sundays-service .timeline:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sundays-at-hp .btn {
  display: flex;
  flex-direction: row;
  flex: 1 1 80%;
  justify-content: center;
  align-items: center;
}


/* ---------------------------------------------------------------------
   SECTION: Heart of church
   PAGE: I am new
   --------------------------------------------------------------------- */
.heart-of-church {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18.75rem;
  background-image: url("../images/HP-red-two.svg");
  background-size: 12.10731rem 11rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #303030;
  margin: 1rem auto;
}

.heart-of-church p {
  color: #FFF;
  font-family: Inter;
  text-align: center;
  font-size: 1.125rem;
  padding: 0 .7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 155.023%;
  text-transform: uppercase;
}

/* ---------------------------------------------------------------------
   SECTION: What does our sunday look like
   PAGE: I am new
   --------------------------------------------------------------------- */
.how-sunday-look-like {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.125rem 4.25rem;
}

.how-sunday-look-like h4 {
  padding: 2rem 0;
}

.how-sunday-look-like-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}

.how-sunday-look-like-container .how-sunday-row {
  width: 300px;
}

.icon img {
  width: 15%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.how-sunday-title {
  color: #E2516D;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

.how-sunday-description {
  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

.how-sunday-description a {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

/* ---------------------------------------------------------------------
   SECTION: What's next
   PAGE: I am new
   --------------------------------------------------------------------- */
.what-next-events {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 3.125rem 4.25rem;
  align-items: center;
}

.what-next-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}

.what-next-card-container .event {

  max-width: 300px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  cursor: pointer;
}

.what-next-card-container .event .what-next-card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.what-next-card-container .event .what-next-card-image img:hover {
  opacity: .7;
}

.what-next-card-container .event .what-next-card-contents {
  padding: 0 20px;

}

.what-next-card-container .event .what-next-card-contents .title {

  color: #303030;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  text-decoration: none;
  text-transform: capitalize;
}

.what-next-card-container .event .what-next-card-contents p {

  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

.what-next-card-container .event .what-next-card-contents .link {
  color: #303030;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}



/* =============================================================================
   PAGE: Who we are 
   Styles specific to the Who we are page.
   ============================================================================= */

.who-we-are-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/who-we-are-cover.png);
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;

}

/* ---------------------------------------------------------------------
   SECTION: Leadership team
   PAGE: Who we are
   --------------------------------------------------------------------- */
.who-we-are {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 3.125rem 4.25rem;
  align-items: center;

}

.team-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-align: justify;
  text-wrap: pretty;
}

.team-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
}

.team-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.team-name a {
  color: #303030;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 155.023%;
}

.team-title,
.team-introduction {
  color: #C4C4C4;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 155.023%;
}

.team-btn {
  border: none;
  outline: 0;
  padding: 8px;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: auto;

}

.team-btn:hover {
  opacity: 0.7;
}

/* ---------------------------------------------------------------------
   SECTION: Our beliefs
   PAGE: Who we are
   --------------------------------------------------------------------- */

.our-beliefs {
  display: flex;
  position: relative;
  flex-basis: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 3.125rem 4.25rem;
}

.our-beliefs h4 {
  padding: 2rem 0;
}

.our-beliefs-text {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 155.023%;
  text-wrap: pretty;
}

.our-beliefs-text a {
  color: #000;
  text-decoration: underline;
  font-weight: 800;
}

/* ---------------------------------------------------------------------
   SECTION: Our values
   PAGE: Who we are
   --------------------------------------------------------------------- */

.our-values {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.125rem 4.25rem;
}

.our-values h4 {
  padding: 2rem 0;
}

.our-values-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}

.our-values-container .values-row {
  width: 300px;
}

.icon img {
  width: 15%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.values-title {
  color: #E2516D;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

.values-description {
  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

.values-description a {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

/* =============================================================================
   PAGE: Give
   Styles specific to the give page.
   ============================================================================= */

.give-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/give-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

/* ---------------------------------------------------------------------
   SECTION: Your Giving Transforms Lives In Prague and Beyond
   PAGE: Give
   --------------------------------------------------------------------- */

.give {
  position: relative;
  display: flex;
  flex-basis: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 35% auto;
}

.give-text {
  color: #303030;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 155.023%;
  text-wrap: pretty;
}


.give-text a {
  color: #000;
  text-decoration: underline;
  font-weight: 800;
}

.give h2 {
  padding: 2rem 0;
  color: #303030;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 155.023%;
}

/* ---------------------------------------------------------------------
   SECTION: Ways you can give
   PAGE: Give
   --------------------------------------------------------------------- */

.give-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-align: justify;
  text-wrap: pretty;
}

.give .inline-flex h4 {
  padding: 3rem 0;
}

.give-card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  text-align: left;
}

.give-image img {
  width: 100%;
  height: 200px;
  border-radius: 0.625rem;
  object-fit: cover;
  object-position: center;
}

.give-title {
  color: #C4C4C4;
  font-size: 1.125rem;
  padding: 0.5rem 0;
  font-weight: 500;
  line-height: 155.023%;
  color: #303030;
  text-transform: uppercase;
}

.give-description {
  color: #C4C4C4;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 155.023%;
}

.give-description span {
  color: #303030;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 155.023%;
}

.give-description img {
  width: 50%;
  height: auto;
  object-position: center;
  object-fit: contain;
}

/* =============================================================================
   PAGE: Get involved
   Styles specific to the Get involved page.
   ============================================================================= */

.get-involved-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/get-involved-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

/* ---------------------------------------------------------------------
   SECTION: Connect with others like you
   PAGE: Get involved
   --------------------------------------------------------------------- */

.get-involved {
  position: relative;
  display: flex;
  flex-basis: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 35% auto;
}

.get-involved-text {
  color: #303030;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 155.023%;
  text-wrap: pretty;
}

.get-involved-text a {
  color: #000;
  text-decoration: underline;
  font-weight: 800;
}

.get-involved h2 {
  padding: 2rem 0;
  color: #303030;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 155.023%;
}

.get-involved .inline-flex h4 {
  padding: 3rem 0;
}

/* ---------------------------------------------------------------------
   SECTION: How to get involved
   PAGE: Get involved
   --------------------------------------------------------------------- */
.get-involved-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}

.get-involved-card {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.get-involved-container img {
  display: flex;
  width: 100%;
  border-radius: 1rem;
  flex-wrap: wrap;
  object-fit: cover;
  object-position: center;
}

.image-half {
  flex-basis: 30%;
  padding: 1rem;
}

.content-half {
  flex-basis: 40%;
  padding: 1rem;
}

.content-half p {
  font-size: medium;
}

.content-half ul {
  padding-left: 2rem;
}

.content-half ul li {
  list-style: disc;
}

/* ---------------------------------------------------------------------
   SECTION: How can you serve others
   PAGE: Get involved
   --------------------------------------------------------------------- */

.get-involved-ways-to-serve-others {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.get-involved-ways-to-serve-others .inline-flex h4 {
  padding: 3rem 0;
}

/* First the Grid */
.gallery-grid {
  display: grid;
  /*grid-auto-flow: column;*/
  /*grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(20ch, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  cursor: pointer;
}

/* The Picture Frame */
.gallery-frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #333;
}

/* The Images */
.gallery-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
  opacity: .7;
}


/* =============================================================================
   PAGE: Support
   Styles specific to the Support page.
   ============================================================================= */

.support-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/support-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

/* ---------------------------------------------------------------------
   SECTION: Support others
   PAGE: Support
   --------------------------------------------------------------------- */

.support-others {
  position: relative;
  display: flex;
  flex-basis: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 25% auto;
}

.support-others-text {

  color: #303030;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 155.023%;
  text-wrap: pretty;
}

.support-others-text a {
  color: #000;
  text-decoration: underline;
  font-weight: 800;
}

.support-others h2 {
  padding: 2rem 0;
  color: #303030;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 155.023%;
}

.support-others .inline-flex h4 {
  padding: 3rem 0;
}

/* ---------------------------------------------------------------------
   SECTION: Projects we support
   PAGE: Support
   --------------------------------------------------------------------- */

.support-others-container {

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}

.support-others-card {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.support-others-container img {
  display: flex;
  width: 100%;
  border-radius: 1rem;
  flex-wrap: wrap;
  object-fit: cover;
  object-position: center;

}

.support-others-image-half {
  flex-basis: 30%;
  padding: 1rem;

}

.support-others-content-half {
  flex-basis: 40%;
  padding: 1rem;

}

.support-others-content-half p {
  font-size: medium;
}

.support-others-content-half ul {
  padding-left: 2rem;
}

.content-half ul li {
  list-style: disc;
}


.support-ways-to-serve-others {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;

}

.support-ways-to-serve-others .inline-flex h4 {
  padding: 3rem 0;
}

/* First the Grid */
.support-gallery-grid {
  display: grid;
  /*grid-auto-flow: column;*/
  /*grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(20ch, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  cursor: pointer;
}

/* The Picture Frame */
.support-gallery-frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #333;
}

/* The Images */
.support-gallery-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.25s ease-in-out;
}

.support-gallery-img:hover {
  opacity: .7;
}


/* =============================================================================
   PAGE: About us
   Curretnly About us page is re-direct to Who we are page. 
   Who we are page => Team members => Know more => about us
   ============================================================================= */

.about-us-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/events-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-container {
  display: flex;
  max-width: 60%;
  padding: 1rem;

}

.about-us-content-section {
  flex: 0 0 50%;
  padding: 0.5rem;
}

.about-us-image-section {
  flex: 0 0 50%;
}

.about-us-image-section img {
  display: block;
  border-radius: 1rem;
  padding: 0.5rem;
  max-width: 100%;
  height: auto;
}

.about-us-content-section .about-us-title {
  padding: 0rem 0.5rem;
  text-transform: uppercase;
  font-size: large;
}

.about-us-content-section .about-us-content .heading-with-logo {
  padding: 2rem 0.5rem;
  color: #5d5d5d;
  font-size: small;
}

.about-us-content-section .about-us-content p {
  padding: 0 0.5rem;
  font-size: small;
  line-height: 1.5;
  text-align: justify;
}

.about-us-content-section .about-us-social-icon {
  padding: 1rem 0;
}

.about-us-content-section .about-us-social-icon i {
  color: #a52a2a;
  font-size: medium;
  padding: 0rem 0.6rem;
}

.about-us-content-section .about-us-social-icon i:hover {
  color: #3d3d3d;
}

.about-us-content .btn a {
  color: #000;
}

.about-team-message {
  display: flex;
  position: relative;
  flex-basis: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 3.125rem 4.25rem;

}

/* =============================================================================
   PAGE: Newsletter
   Styles specific to the Newsletter page.
   ============================================================================= */

.newsletter-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/newsletter-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

/* ---------------------------------------------------------------------
   SECTION: A Great Way to Stay In Touch
   PAGE: Newsletter
   --------------------------------------------------------------------- */
.monthly-news-letter {
  position: relative;
  display: flex;
  flex-basis: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.monthly-news-letter-text {
  color: #303030;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 155.023%;
  text-wrap: pretty;
}

.monthly-news-letter ul li input[type=text] {
  display: block;
  width: 28.4375rem;
  height: 3.125rem;
  border: 1px solid #A9A9A9;
  background: #FFF;
  padding: 1rem;
  margin: 1rem auto;
}

/* The checkbox container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.monthly-news-letter h2 {
  padding: 2rem 0;
  color: #303030;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 155.023%;
  /* 3.488rem */
}

/* =============================================================================
   PAGE: How is a sunday like?
   Home page => How is a sunday like
   ============================================================================= */

/* =============================================================================
   PAGE: Contact us
   Styles specific to the Contact us page.
   ============================================================================= */

.contact-us-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/contact-us-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

/* ---------------------------------------------------------------------
   SECTION: Get in Touch With Us
   PAGE: Contact us
   --------------------------------------------------------------------- */
.contact-us {
  position: relative;
  display: flex;
  flex-basis: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.contat-us-text {
  color: #303030;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 155.023%;
  text-wrap: pretty;
}

.contact-us ul li input[type=text] {
  display: block;
  width: 28.4375rem;
  height: 3.125rem;
  border: 1px solid #A9A9A9;
  background: #FFF;
  padding: 1rem;
  margin: 1rem auto;
}

.contact-us li input[type=text],
textarea {
  display: block;
  width: 28.4375rem;
  height: 8.9375rem;
  padding: 1rem;
  border: 1px solid #A9A9A9;
  margin: 1rem auto;
  resize: none;
}

/* The checkbox container */
.contact-us-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contact-us-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.contact-us-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.contact-us-checkbox-container:hover input~.contact-us-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contact-us-checkbox-container input:checked~.contact-us-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.contact-us-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contact-us-checkbox-container input:checked~.contact-us-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .contact-us-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* =============================================================================
   PAGE: GDPR Privacy Policy
   Home page => GDPR Privacy Policy 
   ============================================================================= */

/* =============================================================================
   PAGE: Events
   Home page => Upcoming events => event button 
   ============================================================================= */

.events-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/events-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

.events {
  position: relative;
  display: flex;
  flex-basis: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 20% auto;
}

.events-text {
  color: #303030;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 155.023%;
  text-wrap: pretty;
}

.events .inline-flex h4 {
  padding: 2rem 0;
}

.events .inline-flex h2 {
  padding: 3rem 0;
}

.upcoming-events-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  min-height: 500px;
  background-color: #D9D9D9;
  margin: 1rem auto;
}

.events-about-hp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #D9D9D9;
}

.events-about-hp .inline-flex h4 {
  padding: 3rem 0;
}

.events-image img {
  width: 500px;
  height: 300px;
}

/* =============================================================================
   PAGE: Help Ukraine
   Styles specific to the Help Ukraine page.
   ============================================================================= */

.ukraine-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/ukraine-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

/* ---------------------------------------------------------------------
   SECTION: Need Help? Want to Donate?
   PAGE: Help Ukraine
   --------------------------------------------------------------------- */

.donate-help-container {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  /* Allows items to wrap onto the next line as needed */
  justify-content: space-around;
  margin: 0 auto;

}

/*Testing my transperent button */

.donate-help-column {
  flex-basis: 50%;
  /* Makes both columns take up equal space */
  max-width: 60%;
  padding: 20px;
  /* Adds some spacing inside each column */
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  justify-content: center;
  /* Center children vertically */
  align-items: center;
  /* Center children horizontally */
  text-align: center;
}

.social-icons {
  margin-bottom: 20px;
  /* Adds space below the social icons */
  /* Add your styling for the social icons here */
}


.donate-help-container hr {

  display: block;
  width: 100%;
  /* Adjust this value as needed */
  margin: 20px auto;
  /* Centers the hr */
  height: 1px;
  background-color: #000;
  /* Adjust the color as needed */
  border: none;

}

/* ---------------------------------------------------------------------
   SECTION: What we do
   PAGE: Help Ukraine
   --------------------------------------------------------------------- */

.ukraine-what-we-do {
  display: flex;
  position: relative;
  flex-basis: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 3.125rem 4.25rem;
}

.ukraine-what-we-do h4 {
  padding: 2rem 0;
}

.ukraine-what-we-do-text {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 155.023%;
  text-wrap: pretty;

}



/* ---------------------------------------------------------------------
   SECTION: Column section
   PAGE: Help Ukraine
   --------------------------------------------------------------------- */

.ukraine-how-we-do {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.125rem 4.25rem;
}

.ukraine-how-we-do h4 {
  padding: 2rem 0;
}

.ukraine-how-we-do-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}

.ukraine-how-we-do-container .ukraine-how-we-do-row {
  width: 300px;
}

.icon img {
  width: 15%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.ukraine-how-we-do-title {
  color: #E2516D;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

.ukraine-how-we-do-description {
  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

.ukraine-how-we-do-description a {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}


/* ---------------------------------------------------------------------
   SECTION: Helping Ukraine (Image gallery)
   PAGE: Help Ukraine
   --------------------------------------------------------------------- */
.helping-ukraine {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;

}

.helping-ukraine .inline-flex h4 {
  padding: 3rem 0;
}

.help-ukraine-grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  max-width: 1200px;
  margin: 50px auto;
  /* Default margin for larger screens */
}

.help-ukraine-gallery-item {
  position: relative;
  overflow: hidden;
}

.help-ukraine-gallery-item img {
  width: 100%;
  /* Makes the image fill its container */
  height: auto;
  /* Maintains the aspect ratio of the image */
  display: block;
  /* Removes any extra space below the image */
  /*margin: auto;*/
  transition: transform 0.5s ease-out;
  cursor: zoom-in;
}

.help-ukraine-gallery-item:hover img {
  transform: scale(2);
  /* Enlarges the image; adjust scale as needed */
  cursor: zoom-out;
}




/* =============================================================================
   PAGE: Join us
   Styles specific to the Join us page.
   ============================================================================= */

.join-us-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/join-us-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

.join-us-events {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 3.125rem 4.25rem;
  align-items: center;
}

.join-us-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}

.join-us-card-container .event {

  max-width: 300px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  cursor: pointer;
}

.join-us-card-container .event .join-us-card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.join-us-card-container .event .join-us-card-image img:hover {
  opacity: .7;
}

.join-us-card-container .event .join-us-card-contents {
  padding: 0 20px;

}


.join-us-card-container .event .join-us-card-contents .title {

  color: #303030;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  text-decoration: none;
  text-transform: capitalize;
}

.join-us-card-container .event .join-us-card-contents p {

  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.35644rem */
}

.join-us-card-container .event .join-us-card-contents .link {
  color: #303030;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.16269rem */

}


/* =============================================================================
   Responsive device breakpoints
   ============================================================================= */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 786px) {



  /* Hamburger menu item */
    .nav-links {
      display: none; 
      opacity: 0; 
      transform: translateY(-20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      /* Adjusted background color for a more subtle crystal glass effect */
      background-color: rgba(255, 255, 255, 0.2); 
      backdrop-filter: blur(10px); 
      top: 0;
      left: 0;
      padding-top: 60px;
    }
  
    .nav-links ul {
      flex-direction: column;
    }
    .nav-links ul li {
      text-align: center;
    }
    .menu-icon {
      display: block; /* Show menu icon on small screens */
    }
    /* Toggle display of the hamburger and close icons */
    .menu-toggle:checked ~ .menu-icon .hamburger {
      display: none;
    }
    .menu-toggle:checked ~ .menu-icon .close {
      display: block;
    }
  
    .menu-toggle:checked ~ .nav-links {
      display: flex; 
      opacity: 1; 
      transform: translateY(0); 
    }
   .line,.lang-switcher__select, .nav-links ul li img{
    display: none;
   }

  .get-involved-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content-half ul li {
    list-style: none;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .support-others-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about-us-container {
    display: block;
    flex-direction: column;
    width: 100%;
  }

  .donate-help-container {
    flex-direction: column;
  }

  .donate-help-column {
    flex-basis: 100%;
    max-width: 100%;
  }

  .donate-help-container hr {
    width: calc(100% - 40px);
    margin: 20px auto;
  }

  .help-ukraine-grid-gallery {
    grid-template-columns: 1fr;
    gap: 5px;
    margin: 20px;
    max-width: calc(100% - 40px);
  }

  .help-ukraine-gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  

  .footer-middle,
  .get-involved-container,
  .footer-menu {
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  .footer-links,
  .social-icons .footer-end {
    display: inline;

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}