/* Use below links incase, local font doesn't work */

/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/kallimata');*/

/* Default settings */

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-inter);
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  text-rendering: optimizeSpeed;
}
img {
  
  max-width: 100%;
}
/* Custom variables */

:root {
  /* Font color */
  --font-color-white: #FFF;
  --font-color-dark-gray: #303030;
  --font-color-light-gray: #C4C4C4;
  --font-color-black: #000;

  /* Font size */
  --font-size-tiny: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-big: 1.125rem;
  --font-size-larg: 2.25rem;
  --font-size-huge: 5.9375rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Font family */
  --font-family-inter: inter;
  --font-family-kallimata: kallimata;

  /* Section background color */
  --bg-color-white: #FFF;
  --bg-color-white-smoke: #F6F6F6;

}

/* Local fonts */

@font-face {
  font-family: inter;
  src: url(../font/static/Inter-Regular.ttf);
  src: url('../font/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: kallimata;
  src: url(../font/kallimata_script/KallimataScript.ttf);
  src: url('../font/kallimata_script/KallimataScript.ttf') format('truetype');
}

/* Reusable property */

.btn {
  background-color: #dcdcdc;
  
  color: #000;
  padding: 0.5rem 1rem;
  display: inline-block;
  /* margin: 2rem 0;*/
  border: none;
  border-radius: 0.938rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  margin-top: 1rem;
}
.btn:hover {
  color: white;
  cursor: pointer;
  background: #f44336;
}


/* Inline Icon with text */
.inline-icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
 min-width: 150px;
 min-height: 150px;
}
.inline-icon img{
  max-width: 40%;
  max-height: 40%;
}

li {

  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: white;
}

h1 {
  font-weight: 800;
  padding: 1.313rem;
  font-size: 3.5rem;
}

h2 {
  padding: 1.313rem;
  font-size: 2.25rem;
  font-weight: 700;
}

p {
  line-break: auto;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.313rem;
  line-height: 125.023%;
}


/* reusable components */


.row-container {
  position: relative;
  display: flex;
  justify-content: center;

}

.column-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.inline-flex {
  display: inline-flex;
  justify-content: center;
}

.heading-with-logo {
  font-size: 1rem;
  line-height: 155.023%;
  letter-spacing: 8px;
  font-weight: 700;
  text-transform: uppercase;
  gap: 0.9rem;
  padding-bottom: 1rem;
}

.heading-with-logo img {
  width: 0.889rem;
  height: auto;
}

/* reusable sections */

/* Live stream section */
.livestream-service{
  display: flex;
  max-width: 74.75rem;
  min-height: 33.9375rem;
flex-shrink: 0;
  border-radius: 3.125rem;
/*background: rgba(48, 48, 48, 0.80);*/

background-image: linear-gradient(rgba(48, 48, 48, 0.8), rgba(48, 48, 48, 0.8)), url(../images/image\ 7.png);
mix-blend-mode: multiply;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
 background-position: center;
 margin: 3rem auto;
 padding: 2.7rem;
}
.livestream-service .btn{
  display: inline-flex;
  padding: 0.75rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
border: 1px solid #FFF;
}

.livestream-service h2{
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 2.25rem;
font-style: normal;
font-weight: 700;
line-height: 155.023%; /* 3.488rem */
}
.livestream-service p{
  color: #FFF;
  font-family: Inter;
text-align: center;
font-size: 1.125rem;
padding: 0 .7rem;
font-style: normal;
font-weight: 700;
line-height: 155.023%; /* 1.744rem */
text-transform: uppercase;

}

/* Ways to serve others */
.ways-to-serve-others{
  display: flex;
  max-width: 74.75rem;
  min-height: 33.9375rem;
flex-shrink: 0;
  border-radius: 3.125rem;

/*background: rgba(48, 48, 48, 0.80);*/

background-image: linear-gradient(rgba(48, 48, 48, 0.8), rgba(48, 48, 48, 0.8)), url(../images/image\ 7.png);
mix-blend-mode: multiply;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
 background-position: center;
 margin: 3rem auto;
 padding: 2.7rem;
}
.ways-to-serve-others .btn{
  display: inline-flex;
  padding: 0.75rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
border: 1px solid #FFF;
}

.ways-to-serve-others h2{
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 2.25rem;
font-style: normal;
font-weight: 700;
line-height: 155.023%; /* 3.488rem */
}
.ways-to-serve-others p{
  color: #FFF;
  font-family: Inter;
text-align: center;
font-size: 1.125rem;
padding: 0 .7rem;
font-style: normal;
font-weight: 700;
line-height: 155.023%; /* 1.744rem */
text-transform: uppercase;

}
.ways-to-serve-others p a {
text-decoration: underline;
}

/* HOME PAGE */
/* Header section */
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh);
  min-height: calc(100vh);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/image1@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li {
  display: inline-block;
  padding: 0.5rem 0.75rem;

}

nav ul li img {
  width: 1.375rem;
  height: 1rem;
}

nav ul li a {
  transition: all 0.5s ease-in-out;
}

nav ul li a:hover {
  color: #f44336;
  transition: 0.5s;
}

.logo img {
  width: 7.313rem;
  height: auto;
  transition: all 0.6s ease-in-out;
}

.logo:hover img {
  transform: scale(1.2, 1.2);
  transition: all 0.5s ease;
}

/* Language switcher*/
.lang-switcher__select {
  width: 3.125rem;
  justify-content: center;
  color: #fff;
  font-size: .80rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border-radius: 0.1875rem;
}

/* svg file, live stream and social medial*/
nav ul li img {
  cursor: pointer;
}

/* Set the cursor pointer to default */
.line {
  cursor: default;
  color: white;
}

/* responsive burger icon set to hidden */

nav .fa {
  display: none;
  color: white;
}

/* Text and button in the header section */
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100vh - 1%);
  color: #FFF;
  text-align: center;
  padding: 2rem;
}


/* Welcome to HP section */

.welcome-hp {
  display: flex;
  position: relative;
  width: 0 0 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.125rem 4.25rem;
  /*padding: 3.125rem 6.25rem;*/
}

.welcome-hp-text {

  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 155.023%;

  /* 27.904px */
}

.welcome-hp h3 {

  text-align: center;
  font-family: var(--font-family-kallimata);
  font-size: 5.938rem;
  font-weight: 400;
  line-height: 188.023%;
  /* 147.272px */
}


/* Start your journey here, section */

.your-journey {
  background-color: #F6F6F6;
  padding: 3.125rem 4.25rem;

}

.image-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: left;
  padding: 1rem;
  gap: 0.7rem;
}


.your-journey-left {

  display: flex;
  flex: 37%;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.your-journey-left img {

  border-radius: 0.625rem;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}



.your-journey-right {
  display: flex;
  flex: 40%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

}

.your-journey-right img {

  border-radius: 0.625rem;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  object-fit: cover;
  object-position: center;

}


/* Upcomg event section */

.upcoming-events {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 3.125rem 4.25rem;
  align-items: center;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}

.card-container .event {
  
  max-width: 300px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  cursor: pointer;
}

.card-container .event .card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.card-container .event .card-image img:hover{
  opacity: .7;
}

.card-container .event .card-contents {
  padding: 0 20px;

}

.card-container .event .card-contents .date {

  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
}

.card-container .event .card-contents .title {

  color: #303030;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  text-decoration: none;
  text-transform: capitalize;
}

.card-container .event .card-contents p {

  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.35644rem */
}

.card-container .event .card-contents .link {
  color: #303030;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.16269rem */

}

/* Footer section */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 3.125rem 4.25rem;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/image-2@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.footer-middle {
  display: inline-flex;
  align-items: center;
  width: 80%;
  padding: 1rem 0;
}


.footer-middle .address {
  justify-content: flex-start;
  flex: 20%;
}


.footer-middle .social-icons {
  display: inline-flex;
  justify-content: space-around;

  flex: 30%;
}

.footer-middle .social-icons img {

  max-width: 10%;
  min-width: 5%;
  height: auto;

}

.footer-middle .footer-links {
  justify-content: flex-end;
  flex: 20%;
}

.footer-middle div p {
  color: #FFF;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.35644rem */
}

.footer-links ul li a {
  color: #FFF;

  text-align: right;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.35644rem */
  text-decoration-line: underline;

}

footer hr {
  display: inline-flex;
  justify-content: center;
  width: 50%;

}

.footer-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-menu ul li {
  display: inline-flex;
  padding: 0.5rem 0.75rem;

}

.footer-menu ul li a {

  text-align: right;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.35644rem */

}

footer .footer-end {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  justify-content: space-around;
  align-items: center;
  color: white;

}

.footer-end img {
  max-width: 50%;
  min-width: 5%;
  height: auto;
}





/* I am new page */

/*.header>.page-header {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7)), url(../images/image1@2x.png);


}*/
.Im-new-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/I-am-new-cover.png);
  background-position: 10% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

.page-title h2 {
  color: #FFF;
  margin-top: 100px;
  padding-bottom: calc(50vh - 50%);
  font-family: Kallimata;
  font-size: 6.5rem;
  font-style: normal;
  font-weight: 400;
  /* 8.21419rem */
}
.sundays-at-hp {
  display: flex; 
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.heading{
  display: flex;
  justify-content: center;

}
.sundays-at-hp .btn{
  display: flex;
  flex-direction: row;
  flex: 1 1 80%;
  justify-content: center;
  align-items: center;
}
.heart-of-church{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18.75rem;;
  background-image: url("../images/HP-red-two.svg");
  background-size: 12.10731rem 11rem;
  background-repeat: no-repeat;
 background-position: center;
  background-color: #303030;
  margin: 1rem auto;
}
.heart-of-church p{
  color: #FFF;
  font-family: Inter;
text-align: center;
font-size: 1.125rem;
padding: 0 .7rem;
font-style: normal;
font-weight: 700;
line-height: 155.023%; /* 1.744rem */
text-transform: uppercase;
}

.sundays-service{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 100px;
  margin: auto;
}
.sundays-service .timeline h4{
  color: #E2516D;
font-size: 1.625rem;
font-style: normal;
font-weight: 400;
/*line-height: 155.023%;*/ /* 2.51913rem */
}
.timeline {
  border-top: 2px dashed;
  border-color: blue !important;
  
  padding: 1rem;
  
}



.sundays-service .timeline:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
margin-right: 30px;
  padding-right: 0;
}

.sundays-service .timeline:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px; 
  padding-left: 0;
}

.sundays-service .timeline:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

.sundays-service .timeline:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

.how-sunday-look-like{
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.125rem 4.25rem;
  /*padding: 3.125rem 6.25rem;*/
}
.how-sunday-look-like h4 {
  padding: 2rem 0;
}
.how-sunday-look-like-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}
.how-sunday-look-like-container .how-sunday-row {
  width: 300px;
}
.icon img {
  width: 15%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.how-sunday-title {
  color: #E2516D;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.744rem */
}
.how-sunday-description {
  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.35644rem */
}
.how-sunday-description a {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}


  .what-next-events{
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: #FFF;
      padding: 3.125rem 4.25rem;
      align-items: center;
    }
    
    .what-next-card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: center;
      padding: 2rem;
      text-align: justify;
      text-wrap: pretty;
    }
    
    .what-next-card-container .event {
      
      max-width: 300px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
      cursor: pointer;
    }
    
    .what-next-card-container .event .what-next-card-image img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }
    
    .what-next-card-container .event .what-next-card-image img:hover{
      opacity: .7;
    }
    
    .what-next-card-container .event .what-next-card-contents {
      padding: 0 20px;
    
    }
    
    
    .what-next-card-container .event .what-next-card-contents .title {
    
      color: #303030;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: 155.023%;
      text-decoration: none;
      text-transform: capitalize;
    }
    
    .what-next-card-container .event .what-next-card-contents p {
    
      color: #C4C4C4;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 155.023%;
      /* 1.35644rem */
    }
    
    .what-next-card-container .event .what-next-card-contents .link {
      color: #303030;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: 155.023%;
      /* 1.16269rem */
    
    }
  


/* Who we are page */
.who-we-are-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/who-we-are-cover.png);
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;

}
.who-we-are {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 3.125rem 4.25rem;
  align-items: center;
}
.team-container{
  display: flex;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-align: justify;
  text-wrap: pretty;
}
.team-card{
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  text-align: center;
}
.team-image img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.team-name a{
color: #303030;
font-size: 1.125rem;
font-weight: 500;
line-height: 155.023%; /* 1.744rem */
}
.team-title, .team-introduction{
  color: #C4C4C4;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 155.023%; /* 1.35644rem */
}
.team-btn{
  border: none;
  outline: 0;
  padding: 8px;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: auto;
 
}
.team-btn:hover{
  opacity: 0.7;
}

.our-beliefs {
  display: flex;
  position: relative;
  flex-basis: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 3.125rem 4.25rem;
  /*padding: 3.125rem 6.25rem;*/

}
.our-beliefs h4 {
  padding: 2rem 0;
}
.our-beliefs-text {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 155.023%;
  text-wrap: pretty;
  /* 27.904px */
}
.our-beliefs-text a {
  color: #000;
  text-decoration: underline;
  font-weight: 800;
}
.our-values {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 3.125rem 4.25rem;
  /*padding: 3.125rem 6.25rem;*/
}
.our-values h4 {
  padding: 2rem 0;
}
.our-values-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}
.our-values-container .values-row {
  width: 300px;
}
.icon img {
  width: 15%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.values-title {
  color: #E2516D;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.744rem */
}
.values-description {
  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.35644rem */
}
.values-description a {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

/* Give  page */
.give-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/give-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}
.give {
  position: relative;
  display: flex;
  flex-basis: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position:top;
  background-size: 35% auto ;
  
  /*padding: 3.125rem 6.25rem;*/
}

.give-text {
  color: #303030;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 155.023%;
  text-wrap: pretty;
  /* 27.904px */
 
}
.give .inline-flex h4{
  padding: 3rem 0;
}
.give-text a {
  color: #000;
  text-decoration: underline;
  font-weight: 800;
}
.give h2{
  padding: 2rem 0;
  color: #303030;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 155.023%; /* 3.488rem */
}

.give-container{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-align: justify;
  text-wrap: pretty;
}
.give-card{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  text-align: left;
}
.give-image img{
  width: 100%;
  height: 200px;
  border-radius: 0.625rem;
  object-fit: cover;
  object-position: center;
}

.give-title{
  color: #C4C4C4;
  font-size: 1.125rem;
  padding: 0.5rem 0;
  font-weight: 500;
  line-height: 155.023%; /* 1.35644rem */
  color: #303030;
  text-transform: uppercase;
}
.give-description{
  color: #C4C4C4;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 155.023%;
}
.give-description span{
  color: #303030;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 155.023%;

}
.give-description img{
  width: 50%;
  height: auto;
  object-position: center;
  object-fit: contain;
}

/* Get involved page */
.get-involved-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/get-involved-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

.get-involved {
  position: relative;
  display: flex;
  flex-basis: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position:top;
  background-size: 35% auto ;
  
  /*padding: 3.125rem 6.25rem;*/
}

.get-involved-text {
  color: #303030;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 155.023%;
  text-wrap: pretty;
  /* 27.904px */
 
}
.get-involved .inline-flex h4{
  padding: 3rem 0;
}
.get-involved-text a {
  color: #000;
  text-decoration: underline;
  font-weight: 800;
}
.get-involved h2{
  padding: 2rem 0;
  color: #303030;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 155.023%; /* 3.488rem */
}

/* Get-involved image text */
.get-involved-container {
  /*display: flex;
  justify-content:center;
  flex-wrap: wrap;*/
  /*text-align: justify;*/
  /*text-wrap: pretty;
  align-items: flex-start;*/
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
  
  
}
.get-involved-card{
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  

}
.get-involved-container img{
  display: flex;
  width: 100%;
  border-radius: 1rem;
  flex-wrap: wrap;
  object-fit: cover;
  object-position: center;

}

 .image-half {
  flex-basis:  30%;
  padding: 1rem;
}

.content-half {
 flex-basis:40%;
  padding: 1rem; 
 
}
.content-half p{
  font-size: medium;
}
.content-half ul{
 padding-left: 2rem;
}
.content-half ul li{
  list-style: disc;
} 



.get-involved-ways-to-serve-others{
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
 }
 
 .get-involved-ways-to-serve-others .inline-flex h4{
   padding: 3rem 0;
 }

/* First the Grid */
.gallery-grid {
  display: grid;
  /*grid-auto-flow: column;*/
  /*grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(20ch, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  cursor: pointer;
  

}

/* The Picture Frame */
.gallery-frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #333;
  
}

/* The Images */
.gallery-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.25s ease-in-out;
}



.gallery-img:hover {
  opacity: .7;
}

/* About us page */

.about-us-cover{
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/events-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}
.about-us{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.about-us-container{
  display: flex;
  max-width: 60%;
  padding: 1rem;
 
}
.about-us-content-section{
  flex: 0 0 50%;
  padding: 0.5rem;
  /*max-width: 60%;*/
  
}
.about-us-image-section{
 
  flex: 0 0 50%;
  /*max-width: 50%;*/
  
}
.about-us-image-section img{
 display: block;
 border-radius: 1rem;
 padding: 0.5rem;
  max-width: 100%;
  height: auto;
}
.about-us-content-section .about-us-title{
  padding: 0rem 0.5rem;
  text-transform: uppercase;
  font-size: large;
}
.about-us-content-section .about-us-content .heading-with-logo{
  padding: 2rem 0.5rem;
  color: #5d5d5d;
  font-size: small;
}
.about-us-content-section .about-us-content p{

  padding: 0 0.5rem;
  font-size: small;
  line-height: 1.5;
  text-align: justify;
  
}

.about-us-content-section .about-us-social-icon{
  padding: 1rem 0;

}
.about-us-content-section .about-us-social-icon i{
  
  color: #a52a2a;
  font-size: medium;
  padding: 0rem 0.6rem;
}
.about-us-content-section .about-us-social-icon i:hover{
  color: #3d3d3d;
}
.about-us-content .btn a{
  color:#000;
}

.about-team-message {
  display: flex;
  position: relative;
  flex-basis: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 3.125rem 4.25rem;
  /*padding: 3.125rem 6.25rem;*/

}



/* Events page */
.events-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/events-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}



/* help ukraine page */
.ukraine-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/ukraine-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}

/* contact-us page */
.contact-us-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/contact-us-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}
.contact-us {
  position: relative;
  display: flex;
  flex-basis: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /*padding: 3.125rem 6.25rem;*/
}

.contat-us-text {
  color: #303030;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 155.023%;
  text-wrap: pretty;
  
  /* 27.904px */
 
} 

.contact-us ul li input[type=text] {
  display: block;
  width: 28.4375rem;
  height: 3.125rem;
  border: 1px solid #A9A9A9;
  background: #FFF;
  padding: 1rem;
  margin: 1rem auto;
}

.contact-us li input[type=text], textarea {
  display: block;
  width: 28.4375rem;
  height: 8.9375rem;
  padding: 1rem;
  border: 1px solid #A9A9A9;
  margin: 1rem auto;
  resize: none;
}
/* The checkbox container */
.contact-us-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.contact-us-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.contact-us-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.contact-us-checkbox-container:hover input ~ .contact-us-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contact-us-checkbox-container input:checked ~ .contact-us-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.contact-us-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contact-us-checkbox-container input:checked ~ .contact-us-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .contact-us-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/* newsletter page */
.newsletter-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/newsletter-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}
  .monthly-news-letter {
    position: relative;
    display: flex;
    flex-basis: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /*padding: 3.125rem 6.25rem;*/
  }
  
  .monthly-news-letter-text {
    color: #303030;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 155.023%;
    text-wrap: pretty;
    
    /* 27.904px */
   
  } 
  .monthly-news-letter ul li input[type=text] {
    display: block;
    width: 28.4375rem;
    height: 3.125rem;
    border: 1px solid #A9A9A9;
    background: #FFF;
    padding: 1rem;
    margin: 1rem auto;
  }
  
  /* The checkbox container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
 
  .monthly-news-letter h2{
    padding: 2rem 0;
    color: #303030;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 155.023%; /* 3.488rem */
  }

  
  

/* support page */
.support-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/support-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}
  .support-others{

    position: relative;
    display: flex;
    flex-basis: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: 25% auto ;
    
    /*padding: 3.125rem 6.25rem;*/
  }
  .support-others-text{

    color: #303030;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 155.023%;
    text-wrap: pretty;
    /* 27.904px */
  }
  .support-others .inline-flex h4{
    padding: 3rem 0;
  }
  .support-others-text a {
    color: #000;
    text-decoration: underline;
    font-weight: 800;
  }
  .support-others h2{
    padding: 2rem 0;
    color: #303030;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 155.023%; /* 3.488rem */
  }
  
  /* Get-involved image text */
  .support-others-container {
    /*display: flex;
    justify-content:center;
    flex-wrap: wrap;*/
    /*text-align: justify;*/
    /*text-wrap: pretty;
    align-items: flex-start;*/
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    padding: 2rem;
    text-align: justify;
    text-wrap: pretty;
    
    
  }
  .support-others-card{
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .support-others-container img{
    display: flex;
    width: 100%;
    border-radius: 1rem;
    flex-wrap: wrap;
    object-fit: cover;
    object-position: center;
    
  }
  
   .support-others-image-half {
    flex-basis:  30%;
    padding: 1rem;
   
  }
  
  .support-others-content-half {
   flex-basis:40%;
    padding: 1rem; 
   
  }
  .support-others-content-half p{
    font-size: medium;
  }
  .support-others-content-half ul{
   padding-left: 2rem;
  }
  .content-half ul li{
    list-style: disc;
  } 


  .support-ways-to-serve-others{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
   }
   
   .support-ways-to-serve-others .inline-flex h4{
     padding: 3rem 0;
   }
   
   /* First the Grid */
   .support-gallery-grid {
     display: grid;
     /*grid-auto-flow: column;*/
     /*grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));*/
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(auto-fit, minmax(20ch, 1fr));
     grid-gap: 1.5rem;
     justify-items: center;
     cursor: pointer;
   }
   
   /* The Picture Frame */
   .support-gallery-frame {
     padding: .5rem;
     font-size: 1.2rem;
     text-align: center;
     color: #333;
   }
   
   /* The Images */
   .support-gallery-img {
     max-width: 100%;
     height: auto;
     object-fit: cover;
     background-position: center;
     background-repeat: no-repeat;
     transition: opacity 0.25s ease-in-out;
   }

   .support-gallery-img:hover {
     opacity: .7;
   }


/* join-us page */
.join-us-cover {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 9, 30, 0.7)), url(../images/join-us-cover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
}
.join-us-events{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 3.125rem 4.25rem;
  align-items: center;
}

.join-us-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
  text-wrap: pretty;
}

.join-us-card-container .event {
  
  max-width: 300px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  cursor: pointer;
}

.join-us-card-container .event .join-us-card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.join-us-card-container .event .join-us-card-image img:hover{
  opacity: .7;
}

.join-us-card-container .event .join-us-card-contents {
  padding: 0 20px;

}


.join-us-card-container .event .join-us-card-contents .title {

  color: #303030;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  text-decoration: none;
  text-transform: capitalize;
}

.join-us-card-container .event .join-us-card-contents p {

  color: #C4C4C4;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.35644rem */
}

.join-us-card-container .event .join-us-card-contents .link {
  color: #303030;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155.023%;
  /* 1.16269rem */

}

/* Responsive design break points*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 786px) {

  nav {
    display: none;
  }
  
  .get-involved-card{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .content-half ul li{
    list-style: none;
  } 
  .image-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .support-others-card{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .about-us-container{
   display: block;
   flex-direction: column;
    width: 100%;
  }
  
  
  .footer-middle,.get-involved-container,
  .footer-menu {
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }
  
  .footer-links,
  .social-icons .footer-end {
    display: inline;

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}