
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/kallimata');

*{
    
    margin: 0;
    padding: 0;
    font-family: inter;

    
}

/* Header section*/
.header{
    
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/image1@2x.png");
background-position: center;
    background-size: cover;
    position: relative;   
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
nav img{
    
    
width: 117px;
height: 55px;
flex-shrink: 0;
}

/* Nav menu */
.nav-links{
    
    flex: 1;
    text-align: center;
        
}


.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after{
    
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.text-box h1{
    
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color:#fff;

}

.hero-btn{
    
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

svg{
width: 2px;
height: 20px;
flex-shrink: 0;
stroke-width: 1px;
stroke: #FFF;
    
}

/* Live stream + social media icons */
.live-stream-icon {

width: 100%;
height: 23px;

}
.social-icon{
    
width: 100%;
height: 23px;
}

nav .fa{
    
    display: none;
}

/* Language switcher*/
.lang-switcher__select{
    
    height: 1.5rem;
    width: 3.125rem;
    padding: 0rem;
    color: #fff;
    font-size: .80rem;
    cursor: pointer;0.3125rem 0rem 0.625rem;
    background: rgba(0,0,0,0);
    border-radius: 0.1875rem;
    
}


/* Responsive design */

@media(max-width:700px){
    
    .text-box h1{
        
        font-size: 20px;
    }
    
    .nav-links ul li{
        display: block;
        
    }
    
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    
    nav .fa{
        
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        
        padding: 30px;
        
        
    }
    
    svg{
            display: none;
        }
    .social-icon{
        
        display:block;
    }
}

.welcome-hp{
    
    width: 100%;
    height: 527px;
    margin: auto;
    position: relative;
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
   padding-top: 100px;
    text-align: center;

}

.welcome-hp h1{
    position: relative;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #303030;
    font-family: Inter;
    line-height: 155.02%;

    
}
.welcome-hp .we-are-a {
  	display: block;
}
.we-are-a-container {
  	margin: 0;
  	position: relative;
    display: inline-block;
  	font-size: 18px;
  	line-height: 155.02%;
  	font-weight: 500;
  	font-family: Inter;
  	color: #303030;
  text-align: center;

  	width: 636px;
}

.you-belong-here {

display: inline-block;
font-size: 95px;
line-height: 155.02%;
font-weight: 400;
font-family: Kallimata;
color: #303030;
    text-align: center;


width: 616px;
}

.rectangle-section{
    
    position:relative;
background-color: #f6f6f6;
width: 100%;
height: 885px;

    
}
 .group-icon {

position: relative;
height: 16.72px;
    

}
.start-your-journey {
margin: 0;
position: relative;
font-size: 16px;
letter-spacing: 0.5em;
line-height: 155.02%;
text-transform: uppercase;
font-weight: 700;
font-family: Inter;
color: #303030;
text-align: center;
}

/* This is home child with images  */

.homepage-child {
  position: absolute;
  top: 1414px;
  left: 0;
  background-color: #f6f6f6;
  width: 1440px;
  height: 885px;
}
.group,
.image-1,
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 580.05px;
  height: 527px;
}
.group,
.image-1 {
  top: 817px;
  left: 430px;
}
.image-1 {
  top: 0;
  left: -30px;
  width: 1504.01px;
  height: 750px;
  background-image: url(./public/image1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.join-us-this {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.buttonvariant2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-16xl);
  background-color: var(--color-white);
  position: absolute;
  top: 623px;
  left: 460px;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.join-us-this1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  text-decoration: none;
}
.buttonvariant21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-16xl);
  background-color: var(--color-white);
  position: absolute;
  top: 623px;
  left: 744px;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.join-us-on {
  margin: 0;
  position: absolute;
  top: 571px;
  left: 440px;
  font-size: var(--font-size-lg);
  font-weight: 400;
  font-family: inherit;
  color: var(--color-white);
}
